* {
	font-family: googlesans;
	font-weight: bold;
	border-radius: 16 16 0 0;
	font-size: 14px;
}

window#waybar {
	background-color: @background;
	transition-property: background-color;
	transition-duration: .5s;
}

@import "/home/whyoolw/.cache/wal/colors-waybar.css";


#workspaces {
	background-color: @background;
	font-family: 'Symbols Nerd Font';
	font-size: 13pt;
	padding: 0 0 0 8;
}

#workspaces button {
    padding: 0 0 0 6;
    margin: 8px 3px;
    border-radius: 32px;
    color: @color11;
    background-color: @color4;
        transition: all 0.3s ease-in-out;

}

#workspaces button:hover {
	background-color: @color2;
	color: @color2;
	border-radius: 16;

}

#workspaces button.active {
    background-color: @color2;
    padding: 0px 16px;
    border-radius: 16px;
    opacity: 1.0;
        transition: all 0.3s ease-in-out;

}

#tray {
	background: @background;
	color: @color9;
	padding: 0 0 0 0;
	margin: 3 0 0 0;

}
#battery {
	background: @background;
	color: @color6;
	padding: 0 1 0 1;
}

#network {
	background: @background;
	color: @color6;
	padding: 0 8 0 0;
}

#custom-notifications {
	color: @color2;
	margin: 5 5 0 8;
	font-size: 14pt;
}

#pulseaudio {
	background: @background;
	color: @color6;

}

#clock {
	background: @background;
	color: @color6;
	font-size: 16px;

}

#language {
	background: @background;
	color: @color6;
	padding: 0 0 0 8;
	margin: 4 0 0 0;
	font-size: 15px;
}
#backlight {
	background: @background;
	color: @color6;
	margin: 0 6 0 1px;

}
