* {
	font-family: JetBrainsMono, SymbolsNerdFont;
	font-weight: bold;
	font-size: 12px;
	min-height: 0;
}

window#waybar {
	background-color: @bg;
	transition-property: background-color;
	transition-duration: .5s;
	border-radius: 5;
}

@define-color bg #171717;
@define-color fg #f9f9f9;
@define-color black #171717;
@define-color green #5F8787;
@define-color gr #363749;

#workspaces {
	background-color: @black;
	margin: 4px 5px 4px 5px;
	border-radius: 6;
}
#workspaces button {
	background-color: @black;
	color: @fg;	
	padding: 0 4px;
	margin: 2px 5px 0 5px;
	border-bottom: solid 2px #23252e;
	border-radius: 0;
}
#workspaces button:hover {
	background-color: @black;
	color: @fg;	
	padding: 0 4px;
	margin: 2px 5px 0 5px;
	border-bottom: solid 2px @fg;
	border-radius: 0;
}
#workspaces button.active {
	background-color: @black;
	color: @green;
	padding: 0 4px;
	margin: 2px 5px 0 5px;
	border-bottom: solid 2px;
	border-radius: 0;
}
#workspaces button.empty {
	color: @gr;
	padding: 0 4px;
	margin: 2px 5px 0 5px;
	border-bottom: solid 2px #23252e;
	border-radius: 0;
}


#tray{
	background: @black;
	color: @fg;
	padding: 0 5px 0 15px;
	margin: 4px 0 4px 0;
	border-radius: 0 6 6 0;
}
#network {
	background: @black;
	color: @fg;
	padding: 0 5px 0 15px;
	margin: 4px 0 4px 0;
	border-radius: 6 0 0 6;

}
#custom-swaync {
	background: @black;
	color: @fg;
	padding: 0 15px 0 15px;
	margin: 4px 10px 4px 0;
	border-radius: 6;
	font-size: 14px;
}

#pulseaudio{
	background: @black;
	color: @fg;
	padding: 0 5px 0 15px;
	margin: 4px 0 4px 0;
	border-radius: 0 6 6 0;

}

#clock {
	background: @black;
	color: @fg;
	padding: 0 5px 0 15px;
	margin: 4px 0 4px 8;
	border-radius: 6 0 0 6;
	font-size: 14px;
}
#language {
	background: @black;
	color: @green;
	padding: 0 5 0 5;
	margin: 4px 0 4px 0;
	border-bottom: solid 2px @green;
	border-radius: 6 6 6 6;
}


